BASES_PATH=/home/rafaeljpd/Data/scl-isis
BASES_PDF_PATH=/home/rafaeljpd/Data/scl-isis/pdf
BASES_TRANSLATION_PATH=/home/rafaeljpd/Data/scl-isis/translation
BASES_WORK_PATH=/home/rafaeljpd/Data/scl-isis/work
BASES_XML_PATH=/home/rafaeljpd/Data/scl-isis/xml
CELERY_BROKER_URL=pyamqp://172.17.0.6:5672
CISIS_PATH=/home/rafaeljpd/Data/scl-metodologia-mps/scielo/proc/cisis
DATABASE_CONNECT_URL=mongodb://172.17.0.5:27017/opac
DJANGO_ALLOWED_HOSTS=localhost;0.0.0.0;[::1];192.168.0.33;127.0.0.1
DJANGO_DEBUG=1
DJANGO_SECRET_KEY=foo
HTDOCS_IMG_REVISTAS_PATH=/home/rafaeljpd/Data/scl-isis/htdocs_img_revistas
MINIO_ACCESS_KEY=minioadmin
MINIO_HOST=172.17.0.4:9000
MINIO_SCIELO_COLLECTION=spf_brazil
MINIO_SECRET_KEY=minioadmin
MINIO_SECURE=false
MINIO_SPF_DIR=ingress
MINIO_TIMEOUT=10000
POSTGRES_DB=spf
POSTGRES_HOST=172.17.0.3
POSTGRES_PASSWORD=alemanha
POSTGRES_PORT=5432
POSTGRES_USER=postgres