{% extends "base.html" %}
{% load i18n %}
{% load spf_extras %}

{% block title %}
SciELO Publishing Framework - {% trans 'User groups' %}
{% endblock %}

{% block content %}
<h1 class="h4 pt-5">{% trans 'User groups' %}</h1>

<div class="row justify-content-center my-3">
    {% if user_obj %}
        <form method="POST">
            {% csrf_token %}
            <div class="table-responsive">
                <table class="table table-sm table-bordered table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{% trans 'Username' %}</th>
                        <th scope="col">{% trans 'First name' %}</th>
                        <th scope="col">{% trans 'Last name' %}</th>
                        <th scope="col">{% trans 'E-mail' %}</th>
                        {% for g in available_groups %}
                        <th class="text-center" scope="col">{{ g.name|to_short_group_name }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                        {% for u in user_obj %}
                            <tr>
                                <td>{{ user_obj.start_index|add:forloop.counter0 }}</td>
                                <td>{{ u.username }}</td>
                                <td>{{ u.first_name }}</td>
                                <td>{{ u.last_name }}</td>
                                <td >{{ u.email }}</td>
                                {% for g in available_groups %}
                                    <td>
                                        <div class="text-center">
                                            {% if u|has_group:g %}
                                                <input class="form-check-input" type="checkbox" name="{{ u.username }}|user_groups" value="{{ g.name }}" checked>
                                            {% else %}
                                                <input class="form-check-input" type="checkbox" name="{{ u.username }}|user_groups" value="{{ g.name }}">
                                            {% endif %}
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <input class="btn btn-danger mx-2 mb-2" value="{% trans "Update users' groups" %}" type="submit"/>
        </form>
    {% endif %}
</div>

{% if user_obj %}
<nav aria-label="User management navigation">
    <ul class="pagination justify-content-center">
        {% if user_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; {% trans 'First' %}</a>
        </li>

        <li class="page-item">
            <a class="page-link"  href="?page={{ user_obj.previous_page_number }}">{% trans 'Previous' %}</a>
        </li>
        {% endif %}

        <li class="page-item">
            <a class="page-link">{% trans 'Page' %} {{ user_obj.number }} {% trans 'of' %} {{ user_obj.paginator.num_pages }}</a>
        </li>

        {% if user_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ user_obj.next_page_number }}">{% trans 'Next' %}</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ user_obj.paginator.num_pages }}">{% trans 'Last' %} &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock %}
