{% extends "base.html" %}
{% load i18n %}
{% load spf_extras %}
{% load static %}

{% block title %}
SciELO Publishing Framework - {% trans 'Add user' %}
{% endblock %}

{% block content %}
<div class="text-center my-3">
    <img src="{% static 'img/logo-scielo.svg' %}" width="100px" height="100px" />
</div>
<h1 class="h4 text-center">SciELO Publishing Framework</h1>
<form class="bg-white border my-3 p-3 form-user" method="POST" action="{% url 'user_add' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="username" class="form-label">{% trans 'Username' %}</label>
        <input type="text" name="username" required autofocus id="username" class="form-control" placeholder="{% trans 'Enter the username' %}" value="{{ username }}">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="text" name="email" autofocus id="email" class="form-control" placeholder="{% trans 'Enter the user e-mail' %}" value="{{ email }}">
    </div>
    <div class="mb-3">
        <label for="password1" class="form-label">{% trans 'Password' %}</label>
        <input type="password" required name="password1" id="password1" class="form-control" placeholder="{% trans 'Enter the user password' %}">
    </div>
    <div class="mb-3">
        <label for="password2" class="form-label">{% trans 'Confirm the password' %}</label>
        <input type="password" required name="password2" id="password2" class="form-control" placeholder="{% trans 'Re-enter the user password' %}">
    </div>
    <div class="mb-3">
        <label class="form-label">{% trans 'Groups' %}</label>
        {% for g in available_groups %}
        <div class="form-check">
            {% if g.name not in user_groups  %}
                <input class="form-check-input" type="checkbox" name="user_groups" value="{{ g.name }}" id="group_{{ g.name }}">
            {% else %}
                <input class="form-check-input" type="checkbox" name="user_groups" value="{{ g.name }}" id="group_{{ g.name }}" checked>
            {% endif %}
            <label class="form-check-label" for="group_{{ g.name }}">{{ g.name|to_short_group_name }}</label>
        </div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">{% trans 'Add user' %}</button>
</form>

{% for message in messages %}
<div class="d-flex justify-content-center">
    <div class="{{ message.tags }}" role="alert">
        {{ message }}
    </div>
</div>
{% endfor %}


{% endblock %}
