{% extends "base.html" %}
{% load i18n %}
{% load spf_extras %}
{% load static %}

{% block title %}
SciELO Publishing Framework - {% trans 'Add user' %}
{% endblock %}

{% block content %}
<div class="text-center my-3">
    <img src="{% static 'img/logo-scielo.svg' %}" width="100px" height="100px" />
</div>
<h1 class="h4 text-center">SciELO Publishing Framework</h1>
    <form class="bg-white border my-3 p-3 form-user" method="POST" action="{% url 'change_password' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="old_password" class="form-label">{% trans 'Old password' %}</label>
            <input type="password" required name="old_password" id="old_password" class="form-control" placeholder="{% trans 'Enter your old password' %}" value={{ old_password }}>
        </div>
        <div class="mb-3">
            <label for="new_password1" class="form-label">{% trans 'New password' %}</label>
            <input type="password" required name="new_password1" id="new_password1" class="form-control" placeholder="{% trans 'Enter your new password' %}" value={{ new_password1 }}>
        </div>
        <div class="mb-3">
            <label for="new_password2" class="form-label">{% trans 'Confirm new password' %}</label>
            <input type="password" required name="new_password2" id="new_password2" class="form-control" placeholder="{% trans 'Re-enter your new password' %}" value={{ new_password2 }}>
        </div>
        <button type="submit" class="btn btn-primary">{% trans 'Change password' %}</button>
    </form>

{% for message in messages %}
<div class="d-flex justify-content-center">
    <div class="{{ message.tags }}" role="alert">
        {{ message }}
    </div>
</div>
{% endfor %}


{% endblock %}
