{% extends "base.html" %}
{% load i18n %}

{% block title %}
SciELO Publishing Framework - {% trans "Articles' files" %}
{% endblock %}

{% block content %}
<h1 class="h4 pt-5">{% trans "Articles' files" %}</h1>

<div class="row justify-content-center my-3">
    {% if article_files_obj %}
    <div class="table-responsive">
        <table class="table table-sm table-bordered table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{% trans 'Identifier' %}</th>
                <th scope="col">{% trans 'Creation date' %}</th>
                <th scope="col">{% trans 'Update date' %}</th>
                <th scope="col">{% trans 'Package name' %}</th>
                <th scope="col">{% trans 'XML' %}</th>
                <th scope="col">{% trans 'Assets' %}</th>
                <th scope="col">{% trans 'Renditions' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for art in article_files_obj %}
            <tr>
                <td>{{ article_files_obj.start_index|add:forloop.counter0 }}</td>
                <td>{{ art.id }}</td>
                <td>{{ art.created|date:'Y-m-d H:i' }}</td>
                {% if art.created != art.updated %}
                <td>{{ art.updated|date:'Y-m-d H:i' }}</td>
                {% else %}
                <td></td>
                {% endif %}
                <td><a href="{{ art.file.uri }}">{{ art.file.name }}</a></td>
                <td><a href="{{ art.xml.uri }}">{{ art.xml }}</a></td>
                <td>{{ art.assets|length }}</td>
                <td>{{ art.renditions|length }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>

{% if article_files_obj %}
<nav aria-label="Articles' files navigation">
    <ul class="pagination justify-content-center">
        {% if article_files_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; {% trans 'First' %}</a>
        </li>

        <li class="page-item">
            <a class="page-link"  href="?page={{ article_files_obj.previous_page_number }}">{% trans 'Previous' %}</a>
        </li>
        {% endif %}

        <li class="page-item">
            <a class="page-link">{% trans 'Page' %} {{ article_files_obj.number }} {% trans 'of' %} {{ article_files_obj.paginator.num_pages }}</a>
        </li>

        {% if article_files_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ article_files_obj.next_page_number }}">{% trans 'Next' %}</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ article_files_obj.paginator.num_pages }}">{% trans 'Last' %} &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock %}