{% extends "base.html" %}
{% load i18n %}
{% load spf_extras %}

{% block title %}
SciELO Publishing Framework - {% trans 'Search package' %}
{% endblock %}

{% block content %}
<h1 class="h4 pt-5">{% trans 'Search package' %}</h1>

<div class="row my-3">
    <div class="col-sm-5 mb-3">
        <div class="card my-3">
            <div class="card-header">
                {% trans 'Search package' %}
            </div>
            <div class="card-body">
                <form class="bg-white form-user" method="GET" action="{% url 'ingress_package_download' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="pid" class="form-label">{% trans 'Document identifier' %}</label>
                        <input required type="text" name="pid" autofocus id="pid" class="form-control" placeholder="{% trans 'Enter a document identifier' %}" value="{{ pid }}">
                    </div>
                    <button id="buttonSearch" type="submit" class="btn btn-primary">{% trans 'Search' %}</button>
                </form>
            </div>
        </div>
        <div id='divLoader' style="display: none;" role="status">
            <div class="spinner-border text-primary">
                <span class="sr-only">{% trans 'Loading' %}...</span>
            </div>
            <span class="text-primary px-1 fw-bold">{% trans 'Collecting resources' %}</span>
        </div>
        <div class="alert alert-danger" id="resultErrors" style="display: none;"></div>
    </div>

    <div id="resultSearchPackages" class="table-responsive" style="display: none;">
        <h2 class="h4">{% trans 'Results for document' %} <strong>{{ pid }}</strong></h2>
        <table class="table table-bordered" id="table">
            <thead>
                <tr>
                    <th>{% trans 'Version' %}</th>
                    <th>{% trans 'Package name' %}</th>
                    <th>{% trans 'Creation date' %}</th>
                </tr>
                </thead>
                <tbody id="resultSearchPackagesTableBody">
                </tbody>
        </table>
    </div>

</div>
<script type="text/javascript">
    var xhr;
    var checkStatus = '{{ check_status }}';
    var intervals = {}

    function update(){
        xhr = $.ajax({
            url: '/task/update_status/?task_id={{ task_id }}',
            type: 'GET',
            success: function(result) {
                divSpinner = document.createElement('div');
                divSpinner.classList.add('spinner-border');
                divSpinner.setAttribute('role', 'status');

                spanLoading = document.createElement('span');
                spanLoading.classList.add('sr-only');
                spanLoading.text = "{% trans 'Loading' %}...";

                divSpinner.appendChild(spanLoading);

                $('user-package-download-results').add(divSpinner);

                if (result.data && 'doc_pkgs' in result.data) {
                    clearInterval(intervals[0]);
                    ingressPackageDownloadCreateTable(result.data);
                    ingressPackageDownloadToggleSpinner();
                }
            }
        });
    }

    if (checkStatus) {
        intervals[0] = setInterval(update, 200);
        ingressPackageDownloadToggleSpinner();
    }
</script>
{% endblock %}
