{% extends "base.html" %}
{% load i18n %}

{% block title %}
SciELO Publishing Framework - {% trans "Articles' files" %}
{% endblock %}

{% block content %}
<h1 class="h4 pt-5">{% trans "Articles' files" %}</h1>

<div id="modalArticleFilesContainer">
</div>

<div class="row justify-content-center my-3">
    {% if article_files_obj %}
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{% trans 'Identifier' %}</th>
                <th scope="col">{% trans 'Creation date' %}</th>
                <th scope="col">{% trans 'Update date' %}</th>
                <th scope="col">{% trans 'Metadata' %}</th>
                <th scope="col" colspan="4">{% trans 'Files' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for art in article_files_obj %}
            <tr>
                <td>{{ article_files_obj.start_index|add:forloop.counter0 }}</td>
                <td>{{ art.id }}</td>
                <td>{{ art.created|date:'Y-m-d H:i' }}</td>
                {% if art.created != art.updated %}
                <td>{{ art.updated|date:'Y-m-d H:i' }}</td>
                {% else %}
                <td></td>
                {% endif %}
                <td>
                    <a class="btn btn-danger open-modal" data-url="{% url 'article_metadata'%}?pid={{ art.id }}">
                        {% trans 'Metadata' %}
                    </a>
                </td>
                <td class="text-center"><a class="btn btn-warning" target="_new" href="{{ art.file.uri }}">Zip</a></td>
                <td class="text-center"><a class="btn btn-primary" target="_new" href="{{ art.xml.uri }}">XML</a></td>
                <td class="text-center">
                    {% if art.assets|length > 0 %}
                        <a class="btn btn-secondary open-modal" data-url="{% url 'article_files_detail'%}?pid={{ art.id }}&content_type=assets">
                        Assets ({{ art.assets|length }})
                        </a>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if art.renditions %}
                        <a class="btn btn-secondary open-modal" data-url="{% url 'article_files_detail'%}?pid={{ art.id }}&content_type=renditions">
                            Renditions ({{ art.renditions|length }})
                        </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>

<nav aria-label="Articles' files navigation">
    <ul class="pagination justify-content-center">
        {% if article_files_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; {% trans 'First' %}</a>
        </li>

        <li class="page-item">
            <a class="page-link"  href="?page={{ article_files_obj.previous_page_number }}">{% trans 'Previous' %}</a>
        </li>
        {% endif %}

        <li class="page-item">
            <a class="page-link">{% trans 'Page' %} {{ article_files_obj.number }} {% trans 'of' %} {{ article_files_obj.paginator.num_pages }}</a>
        </li>

        {% if article_files_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ article_files_obj.next_page_number }}">{% trans 'Next' %}</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ article_files_obj.paginator.num_pages }}">{% trans 'Last' %} &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>

<script type="text/javascript">
$(".open-modal").on("click", function() {
    var divModalArticleFilesContainer = $("#modalArticleFilesContainer");

    $.ajax({
        url: $(this).attr("data-url"),
        success: function(data) {
            divModalArticleFilesContainer.html(data);

            var divModalArticleFiles = new bootstrap.Modal(document.getElementById('modalArticleFiles'));
            divModalArticleFiles.toggle();
        }
    });
});
</script>

{% endblock %}
