{% extends "base.html" %}
{% load i18n %}

{% block title %}
SciELO Publishing Framework - {% trans 'Articles' %}
{% endblock %}

{% block content %}
<div class="row justify-content-center pt-5">
    <h1 class="h4">{% trans 'All articles' %}</h1>
    <div class="m-3">
        {% if article_list %}
        <table class="table table-sm table-bordered table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{% trans 'Title' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for article in article_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ article.title }}</td>
            </tr>
            {% endfor %}
            </tbody>
            </ul>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}
