{% extends "base.html" %}
{% load i18n %}
{% load spf_extras %}

{% block title %}
SciELO Publishing Framework - {% trans 'Search package' %}
{% endblock %}

{% block content %}
<h1 class="h4 pt-5">{% trans 'Search package' %}</h1>

<div class="row my-3">
    <div class="col-sm-5 mb-3">
        <div class="card my-3">
            <div class="card-header">
                {% trans 'Search package' %}
            </div>
            <div class="card-body">
                <form class="bg-white form-user" method="GET" action="{% url 'user_package_download' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="pid" class="form-label">{% trans 'Document identifier' %}</label>
                        <input required type="text" name="pid" autofocus id="pid" class="form-control" placeholder="{% trans 'Enter a document identifier' %}" value="{{ pid }}">
                    </div>
                    <button id="btnSearchPackage" type="submit" class="btn btn-primary">{% trans 'Search' %}</button>
                </form>
            </div>
        </div>
        <div id='searchPackageLoading' style="display: none;" role="status">
            <div class="spinner-border text-primary">
                <span class="sr-only">{% trans 'Loading' %}...</span>
            </div>
            <span class="text-primary px-1 fw-bold">{% trans 'Collecting resources' %}</span>
        </div>
        <div class="alert alert-danger" id="resultErrors" style="display: none;"></div>
    </div>

    <div id="resultSearchPackages" class="table-responsive" style="display: none;">
        <h2 class="h4">{% trans 'Results for document' %} <strong>{{ pid }}</strong></h2>
        <table class="table table-bordered" id="table">
            <thead>
                <tr>
                    <th>{% trans 'Package' %}</th>
                    <th>{% trans 'Creation date' %}</th>
                    <th>{% trans 'Update date' %}</th>
                </tr>
                </thead>
                <tbody id="resultSearchPackagesTableBody">
                </tbody>
        </table>
    </div>

</div>
<script type="text/javascript">
    var xhr;
    var checkStatus = '{{ check_status }}';
    var intervals = {}

    function update(){
        xhr = $.ajax({
            url: 'update_status/?task_id={{ task_id }}',
            type: 'GET',
            success: function(result) {
                divSpinner = document.createElement('div');
                divSpinner.classList.add('spinner-border');
                divSpinner.setAttribute('role', 'status');

                spanLoading = document.createElement('span');
                spanLoading.classList.add('sr-only');
                spanLoading.text = "{% trans 'Loading' %}...";

                divSpinner.appendChild(spanLoading);

                $('user-package-download-results').add(divSpinner);

                if (result.data && 'doc_pkg' in result.data) {
                    clearInterval(intervals[0]);
                    createTable(result.data);
                    toggleSpinner();
                }
            }
        });
    }

    if (checkStatus) {
        intervals[0] = setInterval(update, 200);
        toggleSpinner();
    }

    function createTable(data){
        tableBody = document.getElementById('resultSearchPackagesTableBody')

        for (k in data['doc_pkg']){
            els = data['doc_pkg'][k];
            row = tableBody.insertRow(-1);

            aResult = document.createElement('a')
            aResult.text = els['name'];
            aResult.href = els['uri'];
            aResult.classList.add('link');

            tdUri = row.insertCell(-1);
            tdUri.appendChild(aResult);

            tdCreated = row.insertCell(-1);
            tdCreated.innerHTML = els['created'];

            tdUpdated = row.insertCell(-1);
            tdUpdated.innerHTML = els['updated'];
        }

        if (data['doc_pkg'].length > 0) {
            document.getElementById('resultSearchPackages').style.display = 'block';
        } else {
            var resultErrors = document.getElementById('resultErrors');
            resultErrors.style.display = 'block';
            for (k in data['errors']){
                els = data['errors'][k];
                resultErrors.append(els);
            }
        }
    }

    function toggleSpinner(){
        var btnSearchPackage = document.getElementById('btnSearchPackage');
        var divSpinner = document.getElementById('searchPackageLoading');
        if (divSpinner.style.display == "none") {
            divSpinner.style.display = 'block';
            btnSearchPackage.setAttribute('disabled', 'disabled');
        } else {
            divSpinner.style.display = 'none';
            btnSearchPackage.removeAttribute('disabled');
        }
    }

</script>
{% endblock %}