{% extends "base.html" %}
{% load i18n %}
{% load spf_extras %}

{% block title %}
SciELO Publishing Framework - {% trans 'Dashboard' %}
{% endblock %}

{% block content %}
<div class="row">
    <h1 class="h4 pt-5">{% trans 'Dashboard' %}</h1>
    <div class="col-sm-5 mb-3">
        <div class="card my-3">
            <div class="card-header">
                {% trans 'Search package' %}
            </div>
            <div class="card-body">
                <form class="bg-white form-user" method="GET" action="{% url 'user_package_download' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="pid" class="form-label">{% trans 'Document identifier' %}</label>
                        <input required type="text" name="pid" autofocus id="pid" class="form-control" placeholder="{% trans 'Enter a document identifier' %}">
                    </div>
                    <button type="submit" class="btn btn-primary">{% trans 'Search' %}</button>
                </form>
            </div>
        </div>
        {% if user|has_group:"manager" or user|has_group:"operator_ingress" %}
        <div class="card my-3">
            <div class="card-body">
                <form class="bg-white form-user" method="POST" enctype="multipart/form-data" action="package/upload">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="package_file" class="form-label">{% trans 'Upload package' %}</label>
                        <input class="form-control" type="file" name="package_file" id="package_file">
                    </div>
                    <button type="submit" class="btn btn-primary">{% trans 'Upload' %}</button>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="col-sm-7">
        <div class="card my-3">
            <div class="card-header">{% trans 'User profile' %}</div>
            <div class="card-body">
                <ul class="list-unstyled">
                    <li>{% trans 'Username' %}: {{ request.user.username }}</li>
                    <li>{% trans 'First name' %}: {{ request.user.first_name }}</li>
                    <li>{% trans 'Last name' %}: {{ request.user.last_name }}</li>
                    <li>{% trans 'E-mail' %}: {{ request.user.email }}</li>
                    <li>{% trans 'Last login date' %}: {{ request.user.last_login }}</li>
                    <li>{% trans 'Groups' %}:
                    {% for g in groups %}
                        <span class="badge bg-secondary mx-1">{{ g }}</span>
                    {% endfor %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% for message in messages %}
<div class="d-flex justify-content-center">
    <div class="{{ message.tags }}" role="alert">
        {{ message }}
    </div>
</div>
{% endfor %}
{% endblock %}
</div>