{% extends "base.html" %}
{% load i18n %}

{% block title %}
SciELO Publishing Framework - {% trans 'Activities' %}
{% endblock %}

{% block content %}
<div class="row justify-content-center pt-5">
    <h1 class="h4">{% trans 'Activities' %}</h1>
    <div class="m-3">
        {% if event_obj %}
        <div class="table-responsive">
            <table class="table table-sm table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{% trans 'Activity' %}</th>
                        <th scope="col">{% trans 'Annotation' %}</th>
                        <th scope="col">{% trans 'Status' %}</th>
                        <th scope="col">{% trans 'Timestamp' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ev in event_obj %}
                    <tr>
                        <td>{{ event_obj.start_index|add:forloop.counter0 }}</td>
                        <td>{% trans ev.name %}</td>
                        <td>{{ ev.annotation }}</td>
                        {% if ev.status == 'EventStatus.COMPLETED' %}
                            <td><span class="badge bg-success">{% trans ev.status %}</span></td>
                        {% elif ev.status == 'EventStatus.FAILED' %}
                            <td><span class="badge bg-danger">{% trans ev.status %}</span></td>
                        {% else %}
                            <td><span class="badge bg-secondary">{% trans ev.status %}</span></td>
                        {% endif %}
                        <td>{{ ev.datetime }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>

    {% for message in messages %}
        <div class="d-flex justify-content-center">
            <div class="{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        </div>
    {% endfor %}

<nav aria-label="Event navigation">
    <ul class="pagination justify-content-center">
        {% if event_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; First</a>
        </li>

        <li class="page-item">
            <a class="page-link"  href="?page={{ event_obj.previous_page_number }}">Previous</a>
        </li>
        {% endif %}

        <li class="page-item">
            <a class="page-link">Page {{ event_obj.number }} of {{ event_obj.paginator.num_pages }}</a>
        </li>

        {% if event_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ event_obj.next_page_number }}">Next</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ event_obj.paginator.num_pages }}">Last &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>

{% endblock %}
</div>