{% extends "base.html" %}
{% load i18n %}
{% load spf_extras %}

{% block title %}
SciELO Publishing Framework - {% trans 'Download Package' %}
{% endblock %}

{% block content %}
<div class="row">
    <h1 class="h4 pt-5">{% trans 'Search packages' %}</h1>
    <div class="col-sm-5 mb-3">
        <div class="card my-3">
            <div class="card-header">
                {% trans 'Search package' %}
            </div>
            <div class="card-body">
                <form class="bg-white form-user" method="GET" action="{% url 'user_package_download' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="pid" class="form-label">{% trans 'Document identifier' %}</label>
                        <input required type="text" name="pid" autofocus id="pid" class="form-control" placeholder="{% trans 'Enter a document identifier' %}">
                    </div>
                    <button type="submit" class="btn btn-primary">{% trans 'Search' %}</button>
                </form>
            </div>
        </div>
    </div>
    <div>
    {% if pkgs %}
        <h2 class="h4">{% trans 'Results for document' %} <strong>{{ pid }}</strong></h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>{% trans 'Package name' %}</th>
                <th>{% trans 'Package address' %}</th>
                <th>{% trans 'Creation date' %}</th>
                <th>{% trans 'Last update date' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for pkg in pkgs %}
                <td>{{ forloop.counter }}</td>
                <td>{{ pkg.name }}</td>
                <td>
                    <a href="{{ pkg.uri }}" class="link">{{ pkg.uri }}</a>
                </td>
                <td>
                    {{ pkg.created|to_datetime|date:'Y-m-d H:i' }}</td>
                <td>{{ pkg.updated|date:'Y-m-d H:i' }}</td>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% for message in messages %}
        <div class="d-flex justify-content-center">
            <div class="{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
</div>