{% extends "base.html" %}
{% load i18n %}

{% block title %}
SciELO Publishing Framework - {% trans 'Upload Package' %}
{% endblock %}

{% block content %}
<div class="row">
    <h1 class="h4 pt-5">{% trans 'Upload Package' %}</h1>
    <div class="col-sm-5 mb-3">
        <div class="card my-3">
            <div class="card-body">
                <form class="bg-white form-user" method="POST" action="">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="package_file" class="form-label">{% trans 'Upload package' %}</label>
                        <input class="form-control" type="file" name="package_file" id="package_file">
                    </div>
                    <button type="submit" class="btn btn-primary">{% trans 'Upload' %}</button>
                </form>
            </div>
        </div>
    </div>
    {% for message in messages %}
        <div class="d-flex justify-content-center">
            <div class="alert alert-warning" role="alert">
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endblock %}
</div>