{% extends "base.html" %}
{% load i18n %}
{% load spf_extras %}

{% block title %}
SciELO Publishing Framework - {% trans 'Profile' %}
{% endblock %}

{% block content %}
<h1 class="h4 pt-5">{% trans 'Profile' %}</h1>

<div class="row row-cols-2 row-cols-md-3 my-3">
    <div class="col mb-4">
        <div class="card my-3">
            <div class="card-header">{% trans 'User profile' %}</div>
            <div class="card-body">
                <ul class="list-unstyled">
                    <li>{% trans 'Username' %}: {{ request.user.username }}</li>
                    <li>{% trans 'First name' %}: {{ request.user.first_name }}</li>
                    <li>{% trans 'Last name' %}: {{ request.user.last_name }}</li>
                    <li>{% trans 'E-mail' %}: {{ request.user.email }}</li>
                    <li>{% trans 'Last login date' %}: {{ request.user.last_login }}</li>
                    <li>{% trans 'Groups' %}:
                    {% for g in groups %}
                        <span class="badge bg-secondary mx-1">{{ g|to_short_group_name }}</span>
                    {% endfor %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
