{% extends "base.html" %}
{% load i18n %}

{% block title %}
SciELO Publishing Framework - {% trans 'Upload Package' %}
{% endblock %}

{% block content %}
<div class="row">
    <h1 class="h4 pt-5">{% trans 'Migrate by ID file or ISIS database' %}</h1>
    <div class="col-sm-5 mb-3">
        <div class="card my-3">
            <div class="card-body">
                <form class="bg-white form-user" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="title_file" class="form-label">{% trans 'Choose ID file' %}</label>
                        <input class="form-control" type="file" name="title_file" id="title_file">
                    </div>
                    <div class="strike">
                        <span>{% trans 'or' %}</span>
                    </div>
                    <div class="mb-3">
                        <label for="isis_path" class="form-label">{% trans 'Use ISIS database path' %}</label>
                        <input class="form-control" type="text" value="{{ isis_path }}" name="isis_path" id="isis_path" readonly="readonly">
                    </div>
                    <br>
                    <div class="mb-3">
                        <label for="data_type" class="form-label">{% trans 'Select data type for ID file' %}</label>
                        <br><input type="radio" name="data_type" value="title" required> Title data
                        <br><input type="radio" name="data_type" value="issue"> Issue data
                        <br><input type="radio" name="data_type" value="artigo"> Artigo data
                    </div>
                    <button type="submit" class="btn btn-primary">{% trans 'Migrate' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>

    {% for message in messages %}
        <div class="d-flex justify-content-center">
            <div class="{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endblock %}
</div>